*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Keeps padding inside the box size */
}
body{
    font-family: sans-serif;
    background-color:#121212;
    color:#f7f0f0;
    line-height:2.5;
}
.name{
    display:flex;
    padding:5%;
    width:50%;
}
.image{
    float:left;
    position: relative;
}
.paragraph{
    display:grid;   
    width: 100%;
    max-width: 450px;    
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    /* Right alignment */
    margin-left: auto;
}


.info{    
    
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    /* Left alignment */
    margin-right: auto;

}
@media (max-width: 450px){
    .name{
        flex-direction: column;
        text-align: center;
    }

    .paragraph,
    .info{
        margin: 0 auto;     /* Center on mobile */
        max-width: 100%;
    }

    .info{
        padding: 25px;
    }    
}        